.main-container{
    border: 1px solid black;
    padding: 3rem;
}

.track-container-main{
    display: grid;
    grid-template-rows: 50% auto;
    border: black solid 1px;
}
.track-container-rows{
    border: black;
    width: 100%;
}
.album-cover{
    width: 300px;
    height: 300px
}
