.main-container{
    border: 1px solid black;
    padding: 3rem;
    display:grid;
    grid-template-columns: 35% auto 
}

.main-container-rows{
    border: 1px solid black
}

.dropdown-selector{
    width: 100%
}

.track-container-main{
    display: grid;
    grid-template-rows: 50% auto;
    border: green solid 2px;
}

.track-container-row{
    background: green;
    width: 100%;
}
.thumbnails-container-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.album-thumbnail-container{
    background: red;
    border: 1px solid blue;
    height: 150px;
    width: 150px;
}

.track-color-container{
    background: yellow
}

.album-cover{
    width: 300px;
    height: 300px;
}
.album-thumbnail{
    width: 100%;
    height: 100%;
}
